<form>
	<div>
		<label>Name</label>
		<input type="text" name="post[name]" />
	</div>
	<div>
		<label>Email</label>
		<input type="text" name="post[email]" />
	</div>
	<div>
		<label>Comment</label>
		<input type="text" name="post[comment]" />
	</div>
	<div>		
		<button type="button">Submit</button>
		<p>
			<a href="/message" >Submit</a>
		</p>
	</div>

</form>