<form method="get">
	<div>
		<label>Name</label>
		<input type="text" name="name" />
	</div>
	<div>
		<label>Email</label>
		<input type="text" name="email" />
	</div>
	<div>
		<label>Comment</label>
		<input type="text" name="comment" />
	</div>
	<div>		
		<input type="submit" name="Submit" value="Submit"> 		
	</div>

</form>